/* src/components/Header.module.css */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-200);
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 8px;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 1.5rem;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
