.container {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filled {
  background-color: var(--color-blue-300);
  color: var(--color-white);
}

.filled:hover {
  background-color: var(--color-blue-400);
}

.outlined {
  background-color: transparent;
  border: 1px solid var(--color-blue-400);
  color: var(--color-blue-300);
}

.outlined:hover {
  background-color: var(--color-blue-400);
  color: var(--color-white);
}

.small {
  padding: 5px 10px;
  font-size: 14px;
}

.medium {
  padding: 10px 20px;
  font-size: 16px;
}

.large {
  padding: 15px 30px;
  font-size: 18px;
}
