.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.profile {
  display: flex;
  justify-content: center;
}

.inputFile {
  display: none;
}
