.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.image {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

.noImage {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-gray-400);
}

.content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-gray-200);
  width: 100%;
  padding: 10px;
  gap: 10px;
  flex-grow: 1;
}

.titleAndAuthor {
  display: flex;
  justify-content: space-between;
}

.titleText {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  color: var(--color-black);
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 1; */
}

.author {
  flex-shrink: 0;
  color: var(--color-gray-700);
}

.descriptionText {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 3줄로 제한 */
  -webkit-box-orient: vertical;
  line-clamp: 2;
  width: 100%;
  color: var(--color-gray-700);
  flex: 1;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-black);
}
