.container {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--color-gray-200);
  padding: 10px;
}

.errorContainer {
  border: 1px solid var(--color-red-300);
}

.inputContainer {
  flex: 1;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.errorText {
  font-size: 12px;
  color: var(--color-red-300);
}
